@import "../../../styles/variables.scss";

.columns {
    display: grid;

    @media (min-width: $desktop) {
        grid-template-columns: 200px 1fr;
        gap: 40px;
    }

    @media (min-width: $desktop_l) {
        grid-template-columns: 270px 1fr;
        gap: 150px;
    }

    &__title-text {
        position: sticky;
        top: 110px;
    }

    &__content {
        @media (min-width: $desktop) {
            margin-top: 30px;
        }
        @media (min-width: $desktop_l) {
            margin-top: 40px;
        }
    }
}
