@import "../../../styles/variables.scss";

.awards {
    &__content {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
        
        @media (min-width: $mobile_l) {
            column-gap: 20px;
        }

        @media (min-width: $tablet) {
            gap: 50px;
        }
    }
}
