@import "../../../styles/variables.scss";

.awards {
    &__content {
        display: grid;
        justify-items: center;
        gap: 50px;

        @media (min-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: $desktop) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

