@import "../../../styles/variables.scss";

.vid {
    $custom-breakpoint: calc($tablet - 1px);

    // --- GENERAL MOBILE START ---
    @media (max-width: $custom-breakpoint) {
        margin-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
        background-color: black;

        &__screen {
            position: relative;
            display: flex;
            align-items: center;

            &-overlay {
                position: absolute;
                inset: 0;
                display: grid;
                grid-template-columns: 120px 1fr 120px;
                justify-items: center;
                align-items: center;
                transition: background-color 200ms;

                &__middle {
                    visibility: hidden;
                    opacity: 0;
                }

                &__side {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    padding: 30px;
                    
                    &-fill {
                        display: grid;
                        grid-template-rows: 50px 1fr 50px;
                        align-items: center;
                    }

                    &-title {
                        display: none;
                    }

                    &-smalllink {
                        align-self: start;
                        justify-self: start;
                        color: $clr-text_light;
                        font-size: 13px;
                        padding: 6px;
                        border-radius: 5px;
                        background-color: rgba(255, 255, 255, 0.3);
                        transition: color 200ms, background-color 200ms;
                    }

                    svg {
                        width: 20px;
                        opacity: 0.3;
                    }

                    path {
                        fill: $clr-text_light;
                    }
                }

                &_mobile {
                    background-color: rgba(255, 255, 255, 0.8);
                    grid-template-columns: auto auto 120px;

                    .vid__screen-overlay__side-smalllink {
                        color: $clr-text_dark;
                        background-color: transparent;
                    }

                    .vid__screen-overlay__side-videolink {
                        display: none;
                    }

                    .vid__screen-overlay__side-title {
                        display: block;
                        grid-row: 2;
                        align-self: start;
                        font-size: $fs-100;
                        padding-inline: 6px;
                    }
                }
            }
        }

        &__controls {
            position: absolute;
            color: $clr-text_light;
            padding-block: 16px;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 10px;

            &_hidden {
                display: none;
            }

            &-name {
                display: none;
            }

            &-buttons {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            &-duration {
                flex: 1;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 16px;

                &__time {
                    display: none;
                }
            }

            &-button {
                width: 16px;
                height: 16px;
                flex-shrink: 0;

                path {
                    fill: $clr-text_light;
                }

                &_play {
                    rect {
                        fill: $clr-text_light;
                    }
                    g:nth-child(2) {
                        stroke: $clr-text_light;
                    }
                }

                &_window {
                    display: none;
                }
            }
        }
    }
    // --- GENERAL MOBILE END ---

    // --- VERTICAL MOBILE START ---
    @media (max-width: $custom-breakpoint) and (orientation: portrait) {
        &__screen {
            width: 100svh;
            height: 100vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);

            &-overlay {
                &__middle {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &__controls {
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%) rotate(90deg);
            width: 60svh;
        }
    }
    // --- VERTICAL MOBILE END ---

    // --- HORIZONTAL MOBILE START ---
    @media (max-width: $custom-breakpoint) and (orientation: landscape) {
        &__screen {
            width: 100%;
            height: 100%;
        }

        &__controls {
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            width: 60vw;
        }
    }
    // --- HORIZONTAL MOBILE END ---

    // --- WIDE START ---
    @media (min-width: $tablet) {
        &__screen {
            &-content {
                position: relative;
            }

            &-video {
                width: 100%;
                max-height: 820px;
                object-fit: cover;
            }
        }

        &__controls {
            &-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 16px;
                padding-block: 28px;
            }

            &-name {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            &-duration {
                flex: 1;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 24px;
            }

            &-buttons {
                display: flex;
                align-items: center;
            }

            &-button {
                width: 20px;
                height: 20px;
                flex-shrink: 0;

                &_play {
                    margin-right: 16px;
                    width: 40px;
                    height: 40px;

                    rect {
                        fill: $clr-text_dark;
                    }
                    g:nth-child(2) {
                        stroke: $clr-text_dark;
                    }
                }

                &_sound {
                    margin-left: 54px;
                }

                &_window {
                    margin-left: 24px;
                }

                &_previous {
                    margin-left: 92px;
                }

                &_next {
                    margin-left: 54px;
                }

                path {
                    fill: $clr-text_dark;
                }
            }
        }
    }
    // --- WIDE END ---

    // --- OVERLAY ON WIDE START ---
    @media (min-width: $tablet) {
        &__screen {
            &-overlay {
                position: absolute;
                inset: 0;
                display: grid;
                grid-template-columns: 150px 1fr 150px;
                justify-items: center;
                align-items: center;

                &__middle {
                    visibility: hidden;
                    opacity: 0;
                }
    
                &__side {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    place-items: center;

                    &-title {
                        display: none;
                    }

                    &-smalllink {
                        display: none;
                    }
                
    
                    svg {
                        width: 30px;
                    }
    
                    path {
                        fill: $clr-text_light;
                    }
                }
            }
        }
    }

    @media (min-width: $tablet) and (hover: hover) {
        &__screen {
            &-overlay {
                &__side {
                    grid-template-columns: 0fr;
                    transition: grid-template-columns 300ms;
                    
                    &:hover {
                        grid-template-columns: 1fr;
                    }
                    
                    &:hover svg {
                        opacity: 1;
                    }
                    
                    &-fill {
                        overflow: hidden;
                        backdrop-filter: blur(10px);
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
    
                        &::after {
                            position: absolute;
                            content: '';
                            background-color: $clr-text_light;
                            height: 100%;
                            width: 2px;
                            top: 0;
                            right: 0;
                        }
                    }
    
                    svg {
                        opacity: 0;
                        flex-shrink: 0;
                        transition: opacity 300ms;
                    }
                    
                    &.right {
                        .vid__screen-overlay__side-fill::after {
                            left: 0;
                            right: unset;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $tablet) and (hover: none) {
        &__screen {
            &-overlay {
                &__side {
                    svg {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    // --- OVERLAY ON WIDE END ---

    // --- FULLSCREEN ON WIDE START ---
    @media (min-width: $tablet) {
        &_fullsize {
            margin-top: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10000;
            background-color: black;
    
            .vid__screen {
                &-overlay {
                    display: none;
                }
    
                &-content {
                    position: absolute;
                    inset: 0;
                    display: flex;
                    align-items: center;
                }
    
                &-video {
                    max-height: 100%;
                    object-fit: contain;
                }
            }
    
            .vid__controls {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(255, 255, 255, 0.7);
                backdrop-filter: blur(10px);
                transition: opacity 300ms;

                &-content {
                    padding-block: 16px;
                }
            }
        }
    }
    // --- FULLSCREEN ON WIDE END ---

    // --- WIDER START ---
    @media (min-width: $desktop_m) {
        &__screen {
            &-overlay {
                grid-template-columns: 250px 1fr 250px;

                &__side {
                    svg {
                        width: 40px;
                    }
                }
            }
        }

        &__controls {
            &-content {
                flex-direction: row;
                gap: 0;
            }

            &-name {
                margin-right: 16px;

                &::after {
                    content: "";
                    width: 1px;
                    height: 74px;
                    background-color: $clr-text_medium;
                }
            }

            &-buttons {
                flex: 1;
            }
        }
    }
    // --- WIDER END ---

    // --- GENERAL START, always applicable ---
    &__screen {
        &-overlay {
            &__side {
                &.right {
                    direction: rtl;
                    .vid__screen-overlay__side-videolink svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    &__controls {
        font-size: $fs-video-controls;

        &-duration {
            &__timeline {
                height: 2px;
                width: 100%;
                min-width: 120px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 2px;
                position: relative;
                cursor: pointer;

                @media (min-width: $tablet) {
                    background-color: rgba(0, 0, 0, 0.5);
                    min-width: 220px;
                }

                &-thumb {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background-color: $clr-text_light;
                    transition: width 250ms linear; // debatable

                    @media (min-width: $tablet) {
                        background-color: $clr-text_dark;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 12px;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        background-color: $clr-text_light;
                        position: absolute;
                        right: -6px;
                        top: 50%;
                        transform: translateY(-50%);

                        @media (min-width: $tablet) {
                            width: 18px;
                            right: -9px;
                            background-color: $clr-text_dark;
                        }
                    }
                }
            }
        }

        &-button {
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
    // --- GENERAL END, always applicable ---
}
