@import "./variables.scss";

body {
    font-family: $ff-regular;
    font-weight: $fw-regular;
    font-size: $fs-text;
    color: $clr-text_dark;
}

// section title
h2 {
    font-size: $fs-h2_s;
    text-transform: uppercase;
    font-family: $ff-condensed;
    font-weight: $fw-bold;

    @media (min-width: $tablet) {
        font-size: $fs-h2_m;
    }
    @media (min-width: $desktop) {
        font-size: $fs-h2_l;
    }
    @media (min-width: $desktop_l) {
        font-size: $fs-h2_xl;
    }
}

// award name
h3 {
    font-size: $fs-h3;
    font-weight: $fw-bold;
}

// video preview title
h4 {
    font-weight: $fw-light;
    font-size: $fs-h4_s;

    @media (min-width: $desktop) {
        font-size: $fs-h4_m;
    }

    @media (min-width: $desktop_l) {
        font-size: $fs-h4_l;
    }
}

// person name
h5 {
    font-size: $fs-h5;
    font-weight: $fw-bold;
}

// location name, person title
h6 {
    font-size: $fs-h6;
    font-weight: $fw-bold;
}
