$ff-nav: "Roboto Condensed", sans-serif;
$ff-regular: "Lato", sans-serif;
$ff-mono: "Inconsolata", monospace;

$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

$clr-text_light: white;
$clr-200: #F2F2F2;
$clr-text_dark: black;