@import "../../../styles/variables.scss";

.header {
    background-color: $clr-background;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    &_home {
        background-color: transparent;

        &.closed {
            .header__toggle-button span {
                background-color: $clr-text_light;
            }
        }
    }

    &.opening .header__content::after {
        transform: scaleY(1);
    }

    &.open .header__content::after {
        transform-origin: bottom;
        transform: scaleY(0);
    }

    &.closing .header__content::after {
        transform-origin: bottom;
        transform: scaleY(1);
    }

    &.closed .header__content::after {
        transform: scaleY(0);
    }

    &.closed,
    &.opening {
        .header__content {
            @media (min-width: $tablet) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        .header__toggle {
            @media (min-width: $tablet) {
                grid-column: unset;
            }
        }
    }

    &.open {
        .header__toggle {
            padding-bottom: 2rem;
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;

            &::after {
                display: none;
                transition: opacity 1000ms 300ms;
                opacity: 0.2;

                @media (min-width: $tablet) {
                    display: block;
                }
            }

            &-button {
                // grid-row: 1;
                // grid-column: 3;
            }

            &-logo {
                display: block;
                transform: translateY(0);
                justify-self: center;
            }
        }
    }

    .opening {
        .header__toggle-logo {
            transform: translateY(-200px);
            transition: transform 1000ms 300ms;
        }
    }

    &.open,
    &.closing {
        background-color: $clr-background;

        .header__content {
            min-height: 100vh;
            grid-template-columns: unset;
            grid-template-rows: auto 1fr auto;
        }

        .header__toggle {
            padding-bottom: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .header__nav {
            align-self: start;
            grid-column: span 2;

            @media (min-width: $tablet) {
                height: 100%;
            }
        }

        .header__nav-list {
            display: grid;
            row-gap: 2rem;
            // grid-template-columns: 250px;

            @media (min-width: $tablet) {
                place-self: center;
                grid-template-columns: 300px 300px;
                column-gap: 5rem;
            }
        }

        .header__nav-item {
            border-bottom: 1px solid $clr-text_dark;
            display: block;
        }

        .header__nav-link {
            font-size: 2rem;

            &::after {
                display: none;
            }

            &-text:hover::after {
                transform: translateY(-50%) scaleX(1);
            }

            &-icon {
                display: block;
            }
        }
    }

    &.open,
    &.opening {
        .header__toggle-button {
            span {
                transition: opacity 300ms, translate 300ms, transform 300ms 300ms;
            }
            span:nth-child(1) {
                translate: 0 8px;
                transform: rotate(45deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                translate: 0 -8px;
                transform: rotate(-45deg);
            }
        }
    }

    &__content {
        display: grid;
        align-items: center;
        // justify-items: center;
        // justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        padding-block: 2rem;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            min-height: 100vh;
            background-color: $clr-300;
            top: 0;
            left: 0;
            z-index: 10;
            transform-origin: top;
            transform: scaleY(0);
            opacity: 1;
            transition: transform 300ms;
        }
    }

    &__toggle {
        grid-column: span 2;
        align-self: start;
        justify-self: end;

        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;

        z-index: 15;
        width: 100%;
        position: relative;

        @media (min-width: $tablet) {
            flex-direction: row;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $clr-text_dark;
            opacity: 0;
            transition: opacity 100ms 0ms;
        }

        &-button {
            width: 30px;
            height: 19px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span {
                width: 100%;
                height: 3px;
                background-color: $clr-text_dark;
                transition: transform 300ms, translate 300ms 300ms, opacity 300ms 300ms;
            }
        }

        &-logo {
            width: 130px;

            @media (min-width: $tablet) {
                display: none;
            }
        }
    }

    &__nav {
        z-index: 5;
        display: grid;

        &-list {
            display: none;

            @media (min-width: $tablet) {
                display: flex;
                gap: 10rem;
            }
        }

        &-item {
            display: none;
        }

        &-item_inHeader {
            display: block;
        }

        &-item_hidden {
            display: none;
        }

        &-link {
            font-family: $ff-condensed;
            text-transform: uppercase;
            color: $clr-text_dark;
            font-weight: $fw-bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: $clr-text_dark;
                transform: scaleX(0);
                transition: transform 300ms;
            }

            &:not(.active) {
                .header__nav-link-text:hover::after {
                    transform: translateY(-50%) scaleX(1);
                }
            }

            &-text {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $clr-text_dark;
                    left: 0;
                    top: 50%;
                    transform-origin: left;
                    transform: translateY(-50%) scaleX(0);
                    transition: transform 300ms;
                }
            }

            &-icon {
                display: none;
                width: 20px;
                transform: rotate(-45deg);
            }
        }

        &-link.active::after {
            transform: scaleX(1);
        }
    }
}
