@import "../../../../styles/variables.scss";

.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    &__circle {
        width: 80%;
        max-width: 120px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        position: relative;
        transition: background-color 300ms;
        display: grid;
        place-items: center;

        @media (min-width: $tablet) {
            max-width: 160px;
        }
        
        @media (min-width: $desktop) {
            max-width: none;
            width: 200px;
        }

        &.gold {
            background-color: rgba(217, 183, 107, 1);
        }

        &.silver {
            background-color: rgba(219, 219, 219, 1);
        }

        &.bronze {
            background-color: white;
        }
        
        // don't allow hover on touch
        @media (hover: hover) {
            &:hover {
                background-color: rgba(242, 242, 242, 0.75);
            }
        }

        &-icon {
            max-width: 70%;
            max-height: 70%;
        }

        &-video {
            position: absolute;
            border-radius: 50%;
            width: 99%;
            height: 99%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            aspect-ratio: 1 / 1;
            object-fit: cover;
            z-index: -1;
        }
    }

    &__trophy {
        margin-top: 10px;

        @media (max-width: 549px) {
            font-size: 18px;
        }

        @media (min-width: 550px) and (max-width: calc($tablet - 1px)) {
            font-size: $fs-400;
        }

        @media (min-width: $tablet) {
            margin-top: 30px;
        }
    }

    &__event {
        font-size: $fs-100;

        @media (min-width: $mobile_l) {
            font-size: 18px;
        }

        @media (min-width: 550px) {
            font-size: $fs-400;
        }

        @media (min-width: $tablet) {
            font-size: $fs-h3;
        }
    }

    &__title {
        font-weight: $fw-bold;
        font-size: 14px;

        @media (min-width: 550px) {
            font-size: 18px;
        }

        @media (min-width: $tablet) {
            font-size: $fs-600;
        }
    }

    &__comment {
        font-size: 14px;

        @media (min-width: 550px) {
            font-size: 18px;
        }

        @media (min-width: $tablet) {
            font-size: unset;
        }
    }

    &__title, &__comment {
        margin-top: 3px;

        @media (min-width: $tablet) {
            margin-top: 9px;
        }
    }
}
