@import "../../../../styles/variables.scss";

.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    &__circle {
        width: 150px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        position: relative;
        // overflow: hidden;
        transition: background-color 300ms;
        
        @media (min-width: $desktop) {
            width: 200px;
        }

        &.gold {
            background-color: rgba(217, 183, 107, 1);
        }

        &.silver {
            background-color: rgba(219, 219, 219, 1);
        }

        &.bronze {
            background-color: white;
        }
        
        // don't allow hover on touch
        @media (hover: hover) {
            &:hover {
                background-color: rgba(242, 242, 242, 0.75);
            }
        }

        &-video {
            position: absolute;
            border-radius: 50%;
            width: 99%;
            height: 99%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            aspect-ratio: 1 / 1;
            object-fit: cover;
            z-index: -1;
        }
    }

    &__trophy {
        margin-top: 10px;

        @media (min-width: $tablet) {
            margin-top: 30px;
        }
    }

    &__event {
        font-size: $fs-300;

        @media (min-width: $tablet) {
            font-size: $fs-h3;
        }
    }

    &__title, &__event {
        margin-top: 3px;

        @media (min-width: $tablet) {
            margin-top: 9px;
        }
    }

    &__title {
        font-weight: $fw-bold;
        font-size: $fs-300;

        @media (min-width: $tablet) {
            font-size: $fs-600;
        }
    }

    &__comment {
        font-size: $fs-200;

        @media (min-width: $tablet) {
            font-size: auto;
        }
    }
}

// steps layout
.award {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    &:nth-child(even) {
        flex-direction: row-reverse;

        @media (min-width: $tablet) {
            flex-direction: column;
            gap: 0;
        }
    }

    @media (min-width: $tablet) {
        flex-direction: column;
        gap: 0;
    }

    &__circle, &__details {
        flex: 1;

        @media (min-width: $tablet) {
            flex: unset;
        }
    }
}
