@import "../../../styles/variables.scss";

.contact {
    $custom-breakpoint: 600px;

    &__message {

    }

    &__email {
        color: $clr-text_dark;
        font-size: $fs-900;
        opacity: 0.4;
    }

    &__locations {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 150px;

        @media (min-width: $custom-breakpoint) {
            flex-direction: row;
        }
    }
}
