@import "../../../styles/variables.scss";

.about {
    &__content {
        display: grid;
        row-gap: 20px;
        column-gap: 24px;
        line-height: 1.45;

        @media (min-width: $tablet) {
          grid-template-columns: 1fr 1fr;

          p:nth-child(even) {
              grid-column: 2;
          }
  
          p:nth-child(odd) {
              grid-column: 1;
          }
  
          @for $i from 1 through 10 {
              p:nth-child(#{$i}) {
                  grid-row: $i;
              }
          }
        }
    }
}
