@import "../../../styles/variables.scss";

.video-page {
    $custom-breakpoint: calc($tablet - 1px);

    @media (max-width: $custom-breakpoint) {
        margin-top: 0;
        top: 0;
        left: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 10000;
        background-color: black;
    }

    &__screen {
        @media (max-width: $custom-breakpoint) {
            width: 100svh;
            height: 100vw;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            display: flex;
            align-items: center;
        }
    }

    &__player {
        position: relative;

        &_fullscreen {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            aspect-ratio: unset;
            z-index: 1000000;

            .video-page__button_minimize {
                display: block;
            }

            .video-page__video {
                object-fit: contain;
                background-color: black;
            }

            .video-page__video-overlay {
                display: none;
            }
        }
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (min-width: $tablet) {
            aspect-ratio: 2 / 1;
            max-height: 820px;
        }
    }

    &__video-overlay {
        display: none;
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;

        grid-template-columns: 1fr 60% 1fr;

        @media (min-width: $desktop) {
            display: grid;
        }

        &__item {
            display: grid;
            grid-template-columns: 0fr;
            transition: grid-template-columns 300ms;

            &:hover {
                grid-template-columns: 1fr;
            }

            &:nth-child(2) &-side img {
                transform: rotate(180deg);
            }

            &-side {
                overflow: hidden;

                backdrop-filter: blur(10px);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                position: relative;

                color: $clr-text_light;
                font-weight: $fw-black;

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 5px;
                    background-color: $clr-text_light;
                    top: 0;
                }

                img {
                    width: 30px;
                }
            }

            &_left {
                div::after {
                    right: 0;
                }
            }

            &_right {
                direction: rtl;
                grid-column: 3;
                text-align: right;

                div::after {
                    left: 0;
                }
            }
        }
    }

    &__controls {
        @media (max-width: $custom-breakpoint) {
            position: absolute;
            width: 70svh !important;
            left: 20%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px !important;
            border-radius: 5px;
        }

        display: flex;
        align-items: center;
        
        @media (min-width: $tablet) {
            flex-direction: column;
            padding-block: 28px;
            flex-direction: row;
        }

        &-name {
            display: none;

            @media (min-width: $tablet) {
                position: relative;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-size: $fs-video-controls;
                font-weight: $fw-light;
                gap: 16px;
                margin-right: 16px;
            }

            &::after {
                display: none;
                content: "";
                width: 1px;
                height: 3em;
                background-color: $clr-text_dark;

                @media (min-width: $tablet) {
                    display: block;
                }
            }
        }

        &-duration {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 14px;

            @media (max-width: $custom-breakpoint) {
                color: $clr-text_light;
            }

            &__timeline {
                height: 2px;
                width: 100%;
                min-width: 120px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 2px;
                position: relative;
                cursor: pointer;

                @media (min-width: $tablet) {
                    background-color: rgba(77, 77, 77, 0.5);
                }

                &-thumb {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background-color: $clr-text_light;
                    transition: width 250ms linear; // debatable

                    @media (min-width: $tablet) {
                        background-color: $clr-text_dark;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 12px;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        background-color: $clr-text_light;
                        position: absolute;
                        right: -6px;
                        top: 50%;
                        transform: translateY(-50%);

                        @media (min-width: $tablet) {
                            background-color: $clr-text_dark;
                        }
                    }
                }
            }
        }

        &-buttons {
            flex: 1;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;

            @media (max-width: $tablet) {
                justify-content: space-between;
            }
            
            @media (min-width: $tablet) {
                gap: 8px;
                flex-direction: column;
                gap: 0;
                margin-top: 0;
                flex-direction: row;
                width: auto;
            }

            &__category {
                display: flex;
                justify-content: flex-end;

                &:first-child {
                    flex: 1;
                }
            }

            &__properties,
            &__video-switch {
                display: flex;
            }

            &__properties {
                
                @media (min-width: $tablet) {
                    gap: 24px;
                    margin-left: 60px;
                }
            }

            &__video-switch {
                
                @media (min-width: $tablet) {
                    gap: 54px;
                    margin-left: 92px;
                }
            }
        }
    }

    &__button {
        width: 20px;
        height: 20px;

        @media (max-width: $custom-breakpoint) {
            margin-left: 16px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        &_small {
            width: 25px;
            height: 25px;
        }

        &_play {
            width: 40px;
            height: 40px;
            margin-right: 16px;
            margin-left: 0;
        }

        &_minimize {
            display: none;
            position: absolute;
            z-index: 1;
            top: 50px;
            right: 50px;
        }

        &.button-size {
            @media (max-width: $custom-breakpoint) {
                display: none;
            }
        }
    }
}
