@import "../../../styles/variables.scss";

.video-page {
    &__player {
        position: relative;

        &_fullscreen {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            aspect-ratio: unset;
            z-index: 1000000;

            .video-page__button_minimize {
                display: block;
            }

            .video-page__video {
                object-fit: contain;
                background-color: black;
            }

            .video-page__video-overlay {
                display: none;
            }
        }
    }

    &__video {
        width: 100%;
        height: 100%;
        aspect-ratio: 2 / 1;
        object-fit: cover;
        max-height: 820px;
    }

    &__video-overlay {
        display: none;
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;

        grid-template-columns: 1fr 60% 1fr;

        @media (min-width: $desktop) {
            display: grid;
        }

        &__item {
            display: grid;
            grid-template-columns: 0fr;
            transition: grid-template-columns 300ms;

            &:hover {
                grid-template-columns: 1fr;
            }

            &:nth-child(2) &-side img {
                transform: rotate(180deg);
            }

            &-side {
                overflow: hidden;

                backdrop-filter: blur(10px);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                position: relative;

                color: $clr-text_light;
                font-weight: $fw-black;

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 5px;
                    background-color: $clr-text_light;
                    top: 0;
                }

                img {
                    width: 30px;
                }
            }

            &_left {
                div::after {
                    right: 0;
                }
            }

            &_right {
                direction: rtl;
                grid-column: 3;
                text-align: right;

                div::after {
                    left: 0;
                }
            }
        }
    }

    &__controls {
        padding-block: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $tablet) {
            flex-direction: row;
        }

        &-name {
            text-transform: uppercase;
            font-size: $fs-video-controls;
            font-weight: $fw-light;
            position: relative;
            display: flex;
            align-items: center;
            gap: 16px;

            @media (min-width: $tablet) {
                margin-right: 16px;
            }

            &::after {
                display: none;
                content: "";
                width: 1px;
                height: 3em;
                background-color: $clr-text_dark;

                @media (min-width: $tablet) {
                    display: block;
                }
            }
        }

        &-duration {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 14px;

            &__timeline {
                height: 2px;
                width: 100%;
                min-width: 120px;
                background-color: rgba(77, 77, 77, 0.5);
                border-radius: 2px;
                position: relative;
                cursor: pointer;

                &-thumb {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background-color: $clr-text_dark;
                    transition: width 250ms linear; // debatable

                    &::after {
                        content: "";
                        position: absolute;
                        width: 12px;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        background-color: $clr-text_dark;
                        position: absolute;
                        right: -6px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        &-buttons {
            flex: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 16px;

            @media (min-width: $tablet) {
                gap: 0;
                margin-top: 0;
                flex-direction: row;
                width: auto;
                align-items: center;
            }

            &__category {
                display: flex;
                justify-content: flex-end;

                @media (min-width: $tablet) {
                    &:first-child {
                        flex: 1;
                    }
                }
            }

            &__properties, &__video-switch {
                display: flex;
            }

            &__properties {
                margin-left: 60px;
                gap: 24px;
            }

            &__video-switch {
                margin-left: 92px;
                gap: 54px;
            }
        }
    }

    &__button {
        width: 20px;
        height: 20px;

        img {
            width: 100%;
            height: 100%;
        }

        &_small {
            width: 25px;
            height: 25px;
        }

        &_play {
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }

        &_minimize {
            display: none;
            position: absolute;
            z-index: 1;
            top: 50px;
            right: 50px;
        }
    }
}
