@import "../../../styles/variables.scss";

.people {
    &__content {
        display: grid;

        @media (min-width: $tablet) {
            grid-template-columns: 1fr 1fr;
            column-gap: 160px;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media (min-width: $tablet) {
            gap: 250px;
        }

        &:nth-child(2) {
            margin-top: 50px;

            @media (min-width: $tablet) {
                margin-top: 270px;
            }
        }
    }
}
