@import '../../../styles/variables.scss';

.footer {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;

  &__logo {
    width: 100px;
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 0.75rem;
  }

  &__locations {
    display: flex;
    gap: 0.5rem;

    span {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      text-transform: uppercase;

      &:not(:last-child)::after {
        content: '';
        width: 5px;
        height: 5px;
        background-color: $clr-text_dark;
        border-radius: 50%;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;

    &-link {
      width: 20px;
    }
  }
}

.home + .footer {
  display: none;
}