@import "../../../styles/variables.scss";

.footer {
    &__content {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;

        flex-direction: column;
        gap: 12px;

        @media (min-width: $desktop) {
            padding-top: 64px;
            padding-bottom: 46px;
            flex-direction: row;
            gap: 60px;
        }
        
        @media (min-width: $desktop_l) {
            gap: 175px;
        }
    }

    &__logo {
        width: 160px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        font-size: $fs-footer_s;

        @media (min-width: $desktop) {
            flex-direction: row;
            gap: 45px;
        }
        
        @media (min-width: $desktop_l) {
            font-size: $fs-footer;
        }
    }

    &__year {
        display: none;

        @media (min-width: $desktop) {
            display: block;
        }
    }

    &__locations {
        $spacing: 8px;

        display: flex;
        gap: $spacing;

        span {
            display: flex;
            gap: $spacing;
            align-items: center;
            text-transform: uppercase;

            &:not(:last-child)::after {
                content: "";
                width: 6px;
                height: 2px;
                background-color: $clr-text_dark;
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 16px;

        @media (min-width: $desktop) {
            gap: 30px;
            margin-left: auto;
        }
        
        @media (min-width: $desktop_l) {
            gap: 60px;
        }

        &-link {
            width: 20px;

            @media (min-width: $desktop) {
                width: 26px;
            }
        }
    }
}

.home ~ .footer {
    display: none;
}

.header.open ~ .footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-inline: auto;
    z-index: 100;
    animation: showFooter 1000ms 200ms;
    animation-fill-mode: backwards;

    @media (max-width: $width-to-show-footer) and (max-height: $height-to-show-footer) {
        display: none;
    }

    @keyframes showFooter {
        from {
            transform: translateY(100%);
        }
    }
}
