@import "../../../../styles/variables.scss";

.location {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
    font-size: $fs-contact-location;

    @media (min-width: 600px) {
        max-width: 400px;
    }

    &:not(:first-child) {
        padding-top: 40px;
        border-top: 1px solid $clr-text_dark;

        @media (min-width: 600px) {
            padding: 0;
            border: none;
        }
    }

    &__name {
        font-family: $ff-condensed;
        text-transform: uppercase;
    }

    &__address {
        margin-top: 10px;
    }
}
